- @notes.each do |note|
  .feed-container
    .feed-container__header
      .feed-header-icon
        .user-icon
          - if note.user.image.present?
            = image_tag "#{note.user.image}", class: "feed-avator"
          -else
            = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "feed-avator"
        .note-profile-list
          .user-name
            - if note.user.nickname.present?
              .p
                = note.user.nickname
            - else
              New user
          .time-zone
            .p
              = note.created_at.strftime("%Y年%m月%d日")
        = form_tag(action: :purchase, method: :post) do
          %script.payjp-button{"data-key" => "#{PAYJP_PUBLIC_KEY}", :src => "https://checkout.pay.jp", :type => "text/javascript","data-text" => "500円"}

    .feed-container__image
      - if note.image.present?
        =image_tag "#{note.image}", class: "timeline-image"
    .feed-container__title
      = note.title
    .feed-container__body
      .body-text
        = note.body
      .read-more
        もっと見る
      .hashtag
        %ul
          %li.hashtag-list
            view早く終わらしたい
          %li.hashtag-list
            でもview大事

    .feed-container__foot
      .foot-action
        %ul
          %li
            .like-button
              = fa_icon "icon-star-empty", text: "9", class: "fa fa-star-o"
          %li
            .share-button
              = fa_icon "fa-share-square",class: "fa fa-share-square"

