- @notes.each do |note|
  .feeds-container
    .feeds-container__header
      .feeds-header-icon
        .user-icon
          - if note.user.image.present?
            = image_tag "#{note.user.image}", class: "feeds-avator"
          -else
            = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "feeds-avator"
        .note-profile-list
          .user-name
            - if note.user.nickname.present?
              .p
                = note.user.nickname
            - else
              New user
          .time-zone
            .p
              = note.created_at.strftime("%Y年%m月%d日")
        = form_tag(action: :purchase, method: :post) do
          %script.payjp-button{"data-key" => "#{PAYJP_PUBLIC_KEY}", :src => "https://checkout.pay.jp", :type => "text/javascript","data-text" => "500円"}

    .feeds-container__image
      - if note.eyecatchimage.present?
        = image_tag "#{note.eyecatchimage}", class: "timeline-image"
    .feeds-container__title
      = note.title
    .feeds-container__body
      .body-text
        = note.body
      .read-more
        = link_to "もっと見る", note_path(note.id)
      .hashtag
        %ul
          %li.hashtag-list
            view早く終わらしたい
          %li.hashtag-list
            でもview大事

    .feeds-container__foot
      .foot-action
        %ul
          %li
            .like-button
              - if user_signed_in?
                - if (like = note.like_user(current_user.id)).present?
                  = button_to note_like_path(like, note_id: note.id), method: :delete, id: "like-button", remote: true do
                    = fa_icon "icon-star-empty", class: "fa fa-star-o"
                    %span
                      = note.likes_count
                - else
                  = button_to note_likes_path(note), id: "like-button", remote: true do
                    = fa_icon "icon-star-empty", class: "fa fa-star-o"
                    %span
                      = note.likes_count
              - else
                = fa_icon "icon-star-empty", class: "fa fa-star-o"
                %span
                  = note.like_count
              / = fa_icon "icon-star-empty", text: "9", class: "fa fa-star-o"
          %li
            .share-button
              = social_share_button_tag(note.title)
