= form_for(@note) do |f|
  .new-post-body
    .new-note
      .new-note__header
        %h2.logo
          = link_to "Naka::note", root_path, method: :get
          .new-post
            =f.submit "投稿する", class: "post-button",data: { disable_with: "送信中..."}
      .separator
      .new-note__body
        .note-container
          .note-editor
            .image-insert
              .label
                = f.label :eyecatchimage, class: "insert-label" do
                  = fa_icon "file-image-o"
                = f.file_field :eyecatchimage, class: "insert-icon"
              .label-circle
              %h1
                = f.text_field :title, placeholder: "ノートタイトル", class: "note-title"
              .label
                = f.text_area :body, placeholder: "ノート本文", class: "note-body"
