= form_for(@note) do |f|
  .new-post-body
    .new-note
      .new-note__header
        %h2.logo
          = link_to "Naka::note", root_path, method: :get
          .new-post
            .p 公開設定
      .separator
      .new-note__body
        .note-container
          .note-editor
            .image-insert
              .label
                = f.label :eyecatchimage, class: "insert-label" do
                  = fa_icon "file-image-o"
                = f.file_field :eyecatchimage, class: "insert-icon"
              .label-circle
              %h1
                = f.text_field :title, placeholder: "ノートタイトル", class: "note-title"
              .label
                = f.text_area :body, placeholder: "ノート本文", class: "note-body"
  #modal-overlay
  #modal-content
    .modal-content-header
      公開設定
    .modal-content-body
      .note-public-setting
        .note-fee-label
          販売価格
        .radio-btn-free
          無料
          = radio_button 'page', 'category', 'rails_base', {}
        .radio-btn-pay
          有料
          = radio_button 'page', 'category', 'rails_base', {}
        .note-fee-input
          = f.number_field :fee, class: "note-price-input"
          円
      .note-public-detail-setting
    .modal-content-footer
      .modal-content-footer-inner
        %ul
          %li
            #modal-close.button-link キャンセル
          %li
            %a.note-public-btn
              = f.submit "公開", class: "public-btn", data: { disable_with: "送信中..."}
