.body
  .header
    = render "shared/header"
  .creator
    .creator__topImage
      - if @user.headerImage.present?
        = image_tag "#{@user.headerImage}", class: "creator-topImage"
      -else
        = image_tag "", class: "creator-topImage"
    .creator__content
      .creator__avator
        - if @user.image.present?
          = image_tag "#{@user.image}", class: "profile-avator"
        - else
          = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "profile-avator"
      .contentInner
        .creator-header-list
          .creator-nameID
            - if @user.nickname.present?
              = @user.nickname
            - else
              .p.creator-nameID NEW USER
          .creator-edit-btn
            = link_to "設定", edit_user_path
        .creator-introduction
          - if @user.introduction.present?
            = @user.introduction
        .creator-list
          %ul
            %li
              .creator__follow
                2フォロワー
            %li
              .creator__follower
                2フォロー
              .creator__facebook
  .customNav
    .customNav__inner
      .customNav__nav
        %ul
          %li
            .p ホーム
          %li
            .p マガジン
            .creator-home-btn
            .creator-magazine
  .pageContainer
    .pageContainer__main

- @notes.each do |note|
  .feeds
    .feeds-container
      .feeds-container__header
        .feeds-header-icon
          .user-icon
            - if @user.image.present?
              = image_tag "#{@user.image}", class: "feeds-avator"
            -else
              = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "feeds-avator"
          .note-profile-list
            .user-name
              - if @user.nickname.present?
                .p
                  = @user.nickname
              - else
                New user
            .time-zone
              .p
                = note.created_at.strftime("%Y年%m月%d日")
          = form_tag(action: :purchase, method: :post) do
            %script.payjp-button{"data-key" => "#{PAYJP_PUBLIC_KEY}", :src => "https://checkout.pay.jp", :type => "text/javascript","data-text" => "500円"}

      .feeds-container__image
        - if note.eyecatchimage.present?
          =image_tag "#{note.eyecatchimage}", class: "timeline-image"
      .feeds-container__title
        = note.title
      .feeds-container__body
        .body-text
          = note.body
        .read-more
          = link_to "もっと見る", note_path(note.id)
        .hashtag
          %ul
            %li.hashtag-list
              view早く終わらしたい
            %li.hashtag-list
              でもview大事

      .feeds-container__foot
        .foot-action
          %ul
            %li
              .like-button
                = fa_icon "icon-star-empty", text: "9", class: "fa fa-star-o"
            %li
              .share-button
                = fa_icon "fa-share-square",class: "fa fa-share-square"


