.body
  .header
    = render "shared/header"
  .creator
    .creator__topImage
      - if @user.headerImage.present?
        = image_tag "#{@user.headerImage}", class: "creator-topImage"
      -else
        = image_tag "", class: "creator-topImage"
    .creator__content
      .creator__avator
        - if @user.image.present?
          = image_tag "#{@user.image}", class: "profile-avator"
        - else
          = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "profile-avator"
      .contentInner
        .creator-nameID
          - if @user.nickname.present?
            = @user.nickname
          - else
            .p.creator-nameID NEW USER
          .creator-edit-btn
            = link_to "設定", edit_user_path
        .creator-introduction
          - if @user.introduction.present?
            = @user.introduction
          - else
            .p.creator-nameID NEW USER
        .creator-list
          %ul
            %li
              .creator__follow
                2フォロワー
            %li
              .creator__follower
                2フォロー
              .creator__facebook
  .customNav
    .customNav__inner
      .customNav__nav
        %ul
          %li
            .p ホーム
          %li
            .p マガジン
            .creator-home-btn
            .creator-magazine
  .pageContainer
    .pageContainer__main


- @notes.each do |note|
  .feeds
    .feeds__header
      %ul.feed-header-icon
        %li.feed-avator
          - if @user.image.present?
            = image_tag "#{@user.image}", class: "feed-avator"
          -else
            = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "feed-avator"
          %li.user-name
            - if @user.image.present?
              .p
                = @user.nickname
            - else
              New user
          / %li.time-zone
          /   .p 2017年7月31日
        %li.fee
          - if note.fee.present?
            ¥
            = note.fee
          - else
            = image_tag "", class: "note-price-input-invisible"

      .feeds__image
        - if note.eyecatchimage.present?
          = image_tag "#{note.eyecatchimage}", class: "feeds-eyecatchimage-photo"
        / , class: "timeline-image"
      .feeds__title
        = note.title
      .feeds__body
        .body-text
          = note.body
        / .read-more
        /   もっと見る
        .hashtag
          %ul
            %li.hashtag-list
              view早く終わらしたい
            %li.hashtag-list
              でもview大事

      .feeds__foot
        .foot-action
          %ul
            %li
              .like-button
                = fa_icon "icon-star-empty", text: "9", class: "fa fa-star-o"
            %li
              .share-button
                = fa_icon "fa-share-square",class: "fa fa-share-square"

