.header-inner
  .header-icons
    .header__homeicon
      = link_to image_tag("https://d2hi3epuv5qhwt.cloudfront.net/assets/renewal/logo-686748a91ffe9482590e92763abebe2bf85bab570839e4410ec4a8b14a484474.svg"), root_path
      - if user_signed_in?
        %ul
          %li.header-right
            .search-icon
              %i.fa.fa-icon-bug
              = fa_icon "fa-search", class: "fa fa-search"
            .notification-icon
              = fa_icon "fa-bell", class: "fa fa-bell"
            .avator-photo
              - if current_user.image.present?
                = image_tag "#{current_user.image}", class: "avator-photo"
              - else
                = image_tag "http://1.bp.blogspot.com/-OwZV0x1FJrs/UNQrdb_uppI/AAAAAAAAI7U/-iJhiSxVI7Q/s1600/mark_face_smile.png", class: "avator-photo"
              %ul.menu
                %li.name-id
                  - if current_user.nickname.present?
                    = link_to "#{current_user.nickname}", user_path(current_user)
                  - else
                    = link_to "New User", user_path(current_user)
                %li.sub-text
                  マイページを表示
                %li.separator
                %li.show-myroom
                  .a Nakanoの部屋
                %li.log-out
                  = link_to destroy_user_session_path, method: :delete do
                    ログアウト
                .menu-triangle
            .note-icon
              = link_to new_note_path, method: :get do
                = fa_icon "fa-pencil-square-o", class: "fa fa-pencil-square-o", text: "ノートを投稿"
      - else
        %ul.new-user-sign
          %li.login
            = link_to "ログイン /", new_user_session_path
          %li.signup
            = link_to " 新規登録", new_user_registration_path
